.container {
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 50px 50px 50px;
}

.item{
  background-color: orange;
  border: 1px solid black;
  text-align: center;
}

.first-row {
  background-color: rgb(72, 0, 255);
}
.last-column {
  background-color: lightblue;
}

